<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<div class="navbar-fixed">

<nav class ="blue darken-4">
    <div class="nav-wrapper">
       <ul class="left hide-on-med-and-down">

       <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">
reorder
</i></a></li>
</ul>
    <a href="/" id ="myBrand"class="brand-logo center">Fauxcago Fibune</a>
      <ul class="right hide-on-med-and-down">
        <li><a href ="/scrape" class="btn-small waves-effect waves-light red lighten" id ="scrape" >Get More News</a></li>         
        <li><a href ="/saved"class="btn-small waves-effect waves-light red lighten" >See Saved Articles</a></li>

      </ul>
    </div>
  </nav>
</div>
      <div class="container">

 <div id ="newsDiv">
<ul>
      {{#each articles}}
    <h3>{{this.title}}</h3>
    <p>{{this.subject}}</p>
    <a href="https://www.chicagotribune.com{{this.link}}"target="_blank">Read More</a>
<br>
     <button data-id="{{this._id}}"class ="saved">Save</button>

     <h5>Comments:</h5> <div class="row">
    <form class="col s12"action="POST">
      <div class="row">  
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
            <div class ="addBtn" data-id="{{this._id}}"><span >Add</span></div>
            <div class = "commentsDiv">
              <h5> ID number associated with the most recent comment!!!</h5><br>
                      {{this.note}}
        </div>
        </div>
      </div>
    </form>
  </div>
  </div>
      </p>
       {{/each}}
       </ul>
       
      <h2>Comments Feed</h2>
      <div>
        <p>some text here but nothing is working </p>
          {{#each notes}}          
              <ul> 
                {{this.body}}
                
            {{/each}}
            </ul>
            </div>
            </div>
            
      