      <div class="container">
<nav class ="blue darken-4">
    <div class="nav-wrapper">
    <a href="/articles" class="brand-logo">Fauxcago Fibune</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-large waves-effect waves-light red lighten" id ="scrape" >Get More News</a></li>         
        <li><a href ="/saved"class="btn-large waves-effect waves-light red lighten" >See Saved Articles</a></li>

      </ul>
    </div>
  </nav>

 <div id ="newsDiv">
<ul>
      {{#each articles}}
    <h3>{{this.title}}</h3>
    <p>{{this.subject}}</p>
    <a href="https://www.chicagotribune.com{{this.link}}"target="_blank">Read More</a>
<br>
     <button data-id="{{this._id}}"class ="saved">Save</button>

     <h5>Comments:</h5> <div class="row">
    <form class="col s12"action="PUT">
      <div class="row">  
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Write your comment here!</label>
            <div class ="addBtn" data-id="{{this._id}}"><span >Add</span></div>
            <div class = "commentsDiv">
                 <div class="row">
    <div class="col s12" >
      {{!-- <div class="card cyan lighten-5">
        <div class="card-content black-text">
          <span class="card-title">Card Title</span> --}}
          <p>{{note.body}}</p>
        </div>
            
            </div>
        </div>
        </div>
      </div>
    </form>
  </div>
      </p>
       {{/each}}
      </ul>
     </div>
      </div>  